ASPNETCORE_ENVIRONMENT=Production
DATABASE_HOST=xx0uzg.h.filess.io
DATABASE_PORT=3307
DATABASE_NAME=coldtrack_platform_centerill
DATABASE_USER=coldtrack_platform_centerill
DATABASE_PASSWORD=<Filess.io password>
TokenSettings__Secret=<long secure secret>
TokenSettings__Issuer=FreshGuard.ColdTrack.Platform
TokenSettings__Audience=ColdTrack.WebApplication
